{
    "name": "pthread",
    "version": "${VERSION}-${RELEASE}",
    "archive": "pthread.tgz",
    "author": {
        "name": "Jakub 'Eremiell' Marek",
        "link": "https://twitter.com/Eremiell"
    },
    "aliases": [],

    "specific_versions": [
        { 
            "version": "${VERSION}-${RELEASE}",
            "archive": "versions/${VERSION}-${RELEASE}/pthread.tgz",
        }
    ]
}