pthread Docset
=======================

* I'm [Jakub 'Eremiell' Marek](https://twitter.com/Eremiell)
* Complete instructions on how to generate the docset:
  * [List of prerequisites](https://github.com/Eremiell/mandash/blob/pthread/Brewfile)
  * [Initial man documentation for the docset](https://git.kernel.org/pub/scm/docs/man-pages/man-pages.git/tree/?h=man-pages-${VERSION})
  * [How to run the generation script](https://github.com/Eremiell/mandash/blob/pthread/.travis.yml)
  * The docset is built automaticaly from pthread GitHub repo checked out on latest release, and built via man2html and dashing on Travis, then deployed back to GitHub
* Early testing build, feedback welcome!